<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence version="1.0"
	xmlns="http://java.sun.com/xml/ns/persistence">
	<persistence-unit transaction-type="JTA" name="UserPUnit">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<jta-data-source>java:/UserDS</jta-data-source>
		<properties>
			<property value="javassist" name="hibernate.bytecode.provider" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="false" />
			<property value="false" name="hibernate.use_sql_comments" />
			<property value="true 1, false 0, yes 'O', no 'N'" name="hibernate.query.substitutions" />
			<property value="true" name="hibernate.cache.use_second_level_cache" />
			<property value="true" name="hibernate.cache.use_query_cache" />
			<property value="org.hibernate.dialect.PostgreSQLDialect"
				name="hibernate.dialect" />

			<property name="hibernate.hbm2ddl.auto" value="create-drop" /> 
			<!--  property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/> 
			<property name="hibernate.transaction.manager_lookup_class" value="org.hibernate.transaction.JBossTransactionManagerLookup" /> 
			<property name="hibernate.query.factory_class" value="org.hibernate.hql.classic.ClassicQueryTranslatorFactory" /> 
			<property name="hibernate.archive.autodetection" value="class" / -->

		</properties>
	</persistence-unit>
</persistence>
